* {
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif; }

@-webkit-keyframes dropdown {
  0% {
    transform: translate(0, -100%); }
  100% {
    transform: translate(0, 0); } }

@keyframes dropdown {
  0% {
    transform: translate(0, -100%); }
  100% {
    transform: translate(0, 0); } }

body, .fancy-name:before {
  background-image: url("/imgs/bg_2.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }

.fancy-name {
  position: absolute;
  top: 50%;
  left: 40%;
  width: 400px;
  height: 200px;
  transform: translate(0%, -2%);
  border: 2px solid #ffffff; }
  .fancy-name .text {
    color: #ffffff;
    padding: 15px;
    font-size: 24px; }
  .fancy-name:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: hue-rotate(90deg); }
  .fancy-name > * {
    position: relative;
    z-index: 1; }
