link(rel="stylesheet", href="/css/views/work.css")
.row-big
    p.text-center.
        Here are a list of work I have done:
    .row-big.text-center
        h1 Artwork
    .row-big.flex-content
        .hoverpic
            a(href="https://sketchfab.com/models/eec8602564e34327a1dcd6a6803c9287")
                .fill-btn
            .bgimg
                img(src="/imgs/content/low_poly_arm.png", alt="")
            .link More Info
        .hoverpic
            a(href="https://sketchfab.com/models/eec8602564e34327a1dcd6a6803c9287")
                .fill-btn
            .bgimg
                img(src="/imgs/content/low_poly_arm.png", alt="")
            .link More Info
        .hoverpic
            a(href="https://sketchfab.com/models/eec8602564e34327a1dcd6a6803c9287")
                .fill-btn
            .bgimg
                img(src="/imgs/content/low_poly_arm.png", alt="")
            .link More Info