$font-size: 18px
$font-size-large: 24px
$font-family: 'Abel', sans-serif

//Colors
$white: #ffffff
$dark-gray: #212121

*
    font-family: $font-family

div, body
    margin: 0
    padding: 0

body
    background: $dark-gray
    overflow: hidden

.full-page-pin
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

.background
    z-index: -1
    svg.lines
    .image
        text-align: center
        img
            height: 100%
        
.boxes
    font-size: $font-size
    color: $white
    .box
        position: absolute
        width: 240px
        border: solid 1px $white
        padding: 5px
        background: rgba(0, 0, 0, .75)
        .title
            font-size: $font-size-large
        .content

[hidden]
    display: none    