doctype html
html
    head
        meta(charset="utf-8")
        title Asim Shrestha
        meta(name="theme-color", content="#46538b")
        meta(name="viewport", content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=no")
        meta(property="og:title", content="Asim Shrestha")
        meta(property="og:type", content="profile")
        meta(property="og:url", content="https://asimshrestha2.github.io/")
        meta(property="og:image", content="https://asimshrestha2.github.io/imgs/Asim_Ymir.png")
        meta(name="twitter:card", content="summary")
        meta(name="twitter:site", content="@Asim_Shresth")
        meta(name="twitter:title", content="Asim Shrestha")
        meta(name="twitter:description", content="Asim Shrestha's Portfolio.")
        meta(name="twitter:image", content="https://asimshrestha2.github.io/imgs/Asim_Ymir.png")
        link(rel="icon", href="https://asimshrestha2.github.io/imgs/Asim_Ymir.png")
        link(href="https://fonts.googleapis.com/css?family=Abel", rel="stylesheet")
        link(rel="stylesheet", href="./css/main.css")
        script(src="js/main.js")
    body
        header
            .title
                a(href="#home").page Asim Shrestha
            nav
                .right
                    .item Contact
                        a(href="#contact").page
                            .fill-btn
                    .item Work
                        a(href="#work").page
                            .fill-btn
                    .item About
                        a(href="#about").page
                            .fill-btn
        
        .content.current#home
            .fancy-name
                .text
                    .title Asim Shrestha
                    .sub-title Web_Designer/Developer
                    .sub-title Programmer
                    .sub-title 3D_Artist
                .social
                    .item
                        a(href="https://twitter.com/Asim_Shresth")
                            img(src="/imgs/social/Twitter.png", alt="Twitter")
                    .item
                        a(href="https://www.twitch.tv/imanpronation")
                            img(src="/imgs/social/Twitch.png", alt="Twitch")
                    .item
                        a(href="https://sketchfab.com/asimshrestha2")
                            img(src="/imgs/social/sketchfab.png", alt="Sketchfab")
                    .item
                        a(href="http://asimshrestha2.deviantart.com/")
                            img(src="/imgs/social/DeviantArt.png", alt="DeviantArt")
                .background
        .content.topspacing#contact
            .row-small
                p.
                    If you want to contact me:
                a(href="mailto:asimshrestha2@gmail.com") asimshrestha2@gmail.com
        .content.topspacing#work
            .row-small
                p.
                    Here are a list of work I have done:
                a(href="mailto:asimshrestha2@gmail.com") asimshrestha2@gmail.com
        .content.topspacing#about
            .row-small
                p.
                    About Me:
                a(href="mailto:asimshrestha2@gmail.com") asimshrestha2@gmail.com